.header-table {
  color: white;
  font-size: large;
  font-weight: 300;
  margin: 5px 0px;
}
.small-info-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.get-identifier:hover {
  color: hsl(173 93% 55%);
  cursor: pointer;
}
.info-eco {
  display: flex;
  color: aliceblue;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  p {
    margin: 0px;
    font-size: small;
    font-weight: 100;
    color: #757575;
    span {
      color: #f5f5f5;
      font-weight: 300;
    }
  }
}
.container-input-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    span {
      cursor: pointer;
      color: #a3a3a4;
      font-size: smaller;
      mat-icon {
        margin-bottom: -7px;
      }
    }
    .disable {
      color: #525252;
      cursor: default;
    }
  }
}
.tokens-list {
  background-color: #121212;
  margin: 1vh 10px 3vh 10px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name-table-row {
  max-width: 260px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 16px 4px;
  img {
    vertical-align: middle;
    margin-right: 10px;
    width: 45px;
    border-radius: 50px;
  }
}
.info-token {
  max-height: 100px;
  p {
    margin: 0px;
  }
  .desc-token {
    line-height: 1.3;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
  }
}
th {
  white-space: nowrap;
  font-weight: 400;
}
td {
  color: hsl(0 0% 64%);
}
table {
  background: transparent;
  box-shadow: none;
}

.mat-mdc-table .mat-mdc-header-cell {
  background-color: hsl(0 0% 15% / 0.6);
  color: hsl(0 0% 64%);
  font-weight: 200;
}
.table-container {
  overflow: scroll;
}
.input-table {
  padding: 13px;
  border: 0px;
  outline: none;
  border-radius: 8px;
  color: #a3a3a3;
  background: #262626;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .info-token {
    .desc-token {
      display: none;
    }
  }

  .name-table-row {
    img {
      width: 25px;
    }
  }
}
@media screen and (max-width: 400px) {
  .input-table {
    width: 100%;
  }
}
