.dashdoard-content {
  background-color: #000;
      margin: 1vh 10px;
  border-radius: 20px;

  padding: 20px;
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.cards-content {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.header-dashboard {
  color: #fff;
  font-weight: 300;
  font-size: xx-large;
}
mat-card {
  background:#111212;
  border-radius: 20px;
  flex: 1;
}
.card-dashdoard {
  color: hsl(0 0% 96%);
  font-size: 14px;
  line-height: 21px;
  padding: 24px;
  width: 100%;
}
.card-header {
  color: hsl(0, 0%, 45%);
  padding: 0px;
  margin: 0px;
  font-weight: 100;
  font-size: smaller;
}
p {
  color: hsl(173 93% 55%);
  font-weight: 400;
  font-size: xx-large;
  margin: 6px 0px 0px;
}
