<div class="loader-overlay" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="tokens-list" *ngIf="!(isLoading$ | async)">
  <div class="token-item" *ngFor="let token of tokens">
    <p class="name" *ngIf="token.assets?.name; else name">
      {{ token.assets?.name }}
    </p>
    <ng-template #name
      ><p class="name">{{ token.name }}</p></ng-template
    >
    <div class="token-price">
      <p>
        {{ token.balance | largeNumber }}
        <span *ngIf="token?.valueUsd">
          ( {{ token.valueUsd | number : "1.1-4" }} $)</span
        >
      </p>
      <div
        class="token-identifier redirect"
        *ngIf="token?.assets?.svgUrl; else identifier"
      >
        <img [src]="token?.assets?.svgUrl" />
        <p (click)="redirectToToken(token.identifier)">{{ token?.ticker }}</p>
      </div>

      <ng-template #identifier>
        <p (click)="redirectToToken(token.identifier)" class="redirect">
          {{ token.identifier }}
        </p>
      </ng-template>
    </div>
  </div>
</div>
