<app-network-info></app-network-info>

<div class="container-details-info">
  <div class="specific-detail">
    <div class="token-name-logo">
      <img [src]="tokenDetails?.assets?.pngUrl" />
      <p class="item-text">
        {{ tokenDetails?.name | capitalize }} ({{ tokenDetails?.ticker }}) Token
      </p>
    </div>
    <div class="list-summary">
      <div class="item-list">
        <p class="item-text">Token</p>
        <p class="item-text">{{ tokenDetails?.identifier }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Price</p>
        <p class="item-text">{{ tokenDetails?.price | number : "1.0-2" }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Market Cap</p>
        <p class="item-text">{{ tokenDetails?.marketCap | number }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Holders</p>
        <p class="item-text">{{ tokenDetails?.accounts | number }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Transactions</p>
        <p class="item-text">{{ tokenDetails?.transactions | number }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Properties</p>
        <div class="prop">
          <div *ngFor="let property of displayedProperties">
            <p
              [class.false]="property.value == 'No'"
              [class.true]="property.value == 'Yes'"
            >
              <mat-icon class="icon-status" *ngIf="property.value == 'Yes'"
                >done</mat-icon
              >
              <mat-icon class="icon-status" *ngIf="property.value == 'No'"
                >clear</mat-icon
              >
              {{ property.label }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="specific-detail">
    <div class="token-name-logo">
      <p class="item-text">Summary</p>
    </div>
    <div class="list-summary">
      <div class="item-list">
        <p class="item-text">Owner</p>
        <p class="item-text">{{ tokenDetails?.owner | truncateMiddle : 40 }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Supply</p>
        <p class="item-text">{{ tokenDetails?.supply | number }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Circulating</p>
        <p class="item-text">{{ tokenDetails?.circulatingSupply | number }}</p>
      </div>
      <div class="item-list">
        <p class="item-text">Decimals</p>
        <p class="item-text">{{ tokenDetails?.decimals }}</p>
      </div>
      <div class="item-list">
      <p class="item-text">Social</p>
      <div class="list-social" *ngIf="tokenDetails?.assets?.website; else noSocial">
        <a *ngIf="tokenDetails?.assets.website" [href]="tokenDetails?.assets?.website"
          ><mat-icon class="icons-social">language</mat-icon></a
        >
        <a
          *ngIf="tokenDetails?.assets.social.blog"
          [href]="tokenDetails?.assets?.social.blog"
          target="_blank"
          ><mat-icon class="icons-social">edit</mat-icon></a
        >
        <a
          *ngIf="tokenDetails?.assets.social.email"
          href="mailto:nftDetal?.assets?.social.email"
          ><mat-icon class="icons-social">mail</mat-icon></a
        >

        <a
          *ngIf="tokenDetails?.assets.social.telegram"
          [href]="tokenDetails?.assets?.social.telegram"
          target="_blank"
          ><i class="icons-social fab fa-telegram"></i
        ></a>
        <a
          *ngIf="tokenDetails?.assets.social.twitter"
          [href]="tokenDetails?.assets?.social.twitter"
          target="_blank"
          ><i class="icons-social fab fa-twitter"></i
        ></a>
        <a
          *ngIf="tokenDetails?.assets.social.whitepaper"
          [href]="tokenDetails?.assets?.social.whitepaper"
          target="_blank"
          ><mat-icon class="icons-social">description</mat-icon></a
        >
        <a
          *ngIf="tokenDetails?.assets.social.discord"
          [href]="tokenDetails?.assets?.social.discord"
          target="_blank"
          ><i class="icons-social fab fa-discord"></i
        ></a>
        <a
          *ngIf="tokenDetails?.assets.social.instagram"
          [href]="tokenDetails?.assets?.social.instagram"
          target="_blank"
          ><i class="icons-social fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <ng-template #noSocial>
      <p class="item-text">N/A</p>
    </ng-template>
      <div class="item-list">
      <p class="item-text">Description</p>
      <p
        class="item-text special-desc"
        *ngIf="tokenDetails?.assets?.description; else noSocial"
      >
        {{ tokenDetails?.assets?.description }}
      </p>
    </div>
    </div>
  </div>
</div>
