/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #171717;
  font-family: "Inter", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
   color: #22f7dd !important;
   stroke: #22f7dd !important;
}

mat-spinner {
  width: 50px;
  height: 50px;
  color: #22f7dd !important;
   stroke: #22f7dd !important;
}

:host ::ng-deep .custom-spinner circle{
    stroke: #0CC20C !important;
}


.mat-mdc-table .mat-mdc-header-cell {
  background: hsl(0 0% 15% / 0.6)!important;
  color: hsl(0 0% 64%);
  font-weight: 200;
  white-space: nowrap;
}
