<app-network-info></app-network-info>
<div class="tableAllData">
  <div class="buttonsValidators">
    <a routerLink="/validators/stats" routerLinkActive="active">Validators</a>
    <a routerLink="/validators/providers" routerLinkActive="active"
      >Staking Providers</a
    >
    <a routerLink="/validators/nodes" routerLinkActive="active">Nodes</a>
    <a routerLink="/validators/statistics" routerLinkActive="active"
      >Statistics</a
    >
    <a routerLink="/validators/queue" routerLinkActive="active">Queue</a>
  </div>
  <router-outlet></router-outlet>
</div>
